<!DOCTYPE html>

<html lang="es">

  <%-include("partials/head.ejs") %>
    <body>
      <%-include("partials/header.ejs") %>
      
    <main>     
      
         <section>  
          <article >
            
          <% for(let i=0; i<producto.length;i++){ %> 
           
           
            <div class="contenedorMaxProd">
            <a href="/products/<%=producto[i].id%>">
              <div class="conteiner2" >
                <img src ="/img/products/<%=producto[i].imagen %>" class= "imagenProducto"> </img>
                <div id="conteinerTextoProducto">
                  <h3><%=producto[i].nombre%> </h3>
                  <p><%=producto[i].descripcion %> </p>
                </div>
              </div>

              <div id="precio"> <!--carro compras-->
                <div id="nomYPrecio">
                  <a><%=producto[i].nombre %><a>
                  <a>$ <%=producto[i].precio %></a>
                </div>
                  
                <span class="lineaSeparadora"></span>
                <br>
              <div>
                <a>12 cuotas sin Interes</a>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
              </div>
              <br>
              <br>
              <div>
                  <div>
                    <p>+ Modo de uso</p> <!--falta agregar textarea para modo de uso--> 
                  </div>
                  <span class="lineaSeparadora"></span>
                  <div>
                    <p>+ Ingredientes</p> <!--falta agregar textarea para ingredientesg--> 
                  </div>
                  <span class="lineaSeparadora"></span>
              </div>
                  <span class="lineaSeparadora"></span>
                  <button class="botonCarrito">AGREGAR AL CARRITO</button>
                  
              </div>
            </a>
          </div>
            <% } %>
            <div class="sabores"> 
            <!--<h4>Sabores disponibles</h4>
            <select name="Sabores" id="cajaSabores" placeholder="elegi tu sabor"> 
              <option value="Frutilla">Frutilla</option>
              <option value="Chocolate">Chocolate</option>
              <option value= "Vainilla">Vainilla</option>
            </select>   ****    Deberia estar esta seleccion por cada articulo  ****   -->  

            </div>
            
           <!-- <div>
             <hr class="lineaSeparadora2">
              <ul class="conteiner1" >  **Carrusel de fotos?**
             <img src = "../public/img/products/nitro_whey.jpg" class= "carrusel"> </img>
             <img src = "../public/img/products/creatine_monohydrate.jpg" class= "carrusel"> </img>
             <img src = "../public/img/products/pump.JPG" class="carrusel"> </img>
              </ul>
            </div> desactivado por el momento-->  
          </a>
          </article>    
    </main>
    <%-include("partials/footer.ejs") %>
  </body>
</html>
