<!DOCTYPE html>

<html lang="es">

  <%-include("partials/head.ejs") %>
    <body>
      <%-include("partials/header.ejs") %>
      
    <main>
      <section >              
        <div class="container" >            
          <div class= "d-flex flex-row flex-wrap justify-content-sm-start align-items-start" style="margin-top: 10px;">
              <% for(let i=0; i<producto.length;i++){ %> 
            <div class="mp-contenedor-producto  " >
              <a href="/products/<%=producto[i].id%>">
              <div class="conteiner2" >               
                <img src ="/img/products/<%=producto[i].imagen%>" class= "imagenProducto"  > </img> </a>   
                    <div id="conteinerTextoProducto" class="prod">
                      <!--  <h3><%=producto[i].nombre%> </h3> -->
                      <!-- <p><%=producto[i].descripcion %> </p> -->   
                      <a href= "#"><p id="toggle" style="cursor:hand">+ Info</p> 
                      <p id="toggle-text"><%=producto[i].descripcion%></p> </a> 
                    </div>
      
                <div class="mp-grupos-productos">                 
                  <div id="nomYPrecio">
                    <span class="lineaSeparadora"></span>
                    <a ><%=producto[i].nombre %></a>
                    <a >$ <%=producto[i].precio %></a>
                  </div>
                  
              </div>
                  
            </div>           
          </div>
                    <% } %>
        </div>              
      </section> 
    </main>
    <script src="/js/producto.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%-include("partials/footer.ejs") %>

  </body>
</html>
