<!DOCTYPE html>

<html>

  <%-include("partials/head.ejs") %>
  <body>
  <%-include("partials/header.ejs") %>


  <!-- FORMULARIO DE REGISTRO -->
<br>
<br>
<br>
<br>
<main>
  <form action="/users/register" class="formcenter" method="POST" enctype="multipart/form-data">

  <p class="titleform">
    <h3 id=margen1> Formulario de registro</h3>
    <br>
  </p> 

    <div class="formreg">
      
  <form action="/users/register" class="formcenter" method="POST" enctype="multipart/form-data">
    <div class="danger">
      <% if (locals.errors) {
        errors.forEach(error => { %>
           <p><%= error.msg %></p>
          <% })
          }
          %>
    </div>
      <div>
        <label for="first_name">Nombre</label>
        <input type="text" class= "sinborde"  placeholder="Juan"  name="first_name" id="first_name" value="<%= locals.old && old.first_name ? old.first_name : ''%>" >
      </div>

      <br/> <br/>
      <div>
        <label for="last_name"> Apellido </label>
        <input type="text" class= "sinborde" placeholder="Perez" maxlength="30" name="last_name" id="last_name" value= "<%= locals.old && old.last_name ? old.last_name :''%>" >
      </div>
      <br/> <br/>
    
      <br/> <br/>
      <div>
        <label for="email"> Email </label>
        <input type="text" class= "sinborde" placeholder="un@email.com" maxlength="30" name="email" id="email" value="<%= locals.old && old.email ? old.email:''%>" >
      </div>
    
      <br/> <br/>
      <div>
        <label for="password">Contraseña</label>
        <input type="password" placeholder="******" class= "sinborde" name="contraseña">
      </div>

      <br>
      <br>
      <div class="mp-cont-formulario" >
        <label for="avatar" class="mp-label-createProduct">Imagen de Perfil (opcional)</label>
        <input type="file" name="avatar" value="avatar">
      </div>


      <br/> <br/>
      <br/> <br/>
      <div>
        <input type="checkbox" name="combo" value="Primero">
        <label for="text" class="Accept"> Acepto los terminos y condiciones </label>
      </div>
   
      <br> <br/>
      <br/> <br/>     
      <div>
        <button type="submit" class="Cuenta"  style="width:250px; height:40px">Crear Cuenta</button>
      </div>
    </div>
  </form>
  
</main>
<%-include("partials/footer.ejs") %>
  </body>
</html>




